* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg,#000000f2,#393939f2);
}

@media (max-width:1200px) {
    .container {
      max-width: 970px;
    }
  }
  
  @media (max-width:992px) {
    .container {
      max-width: 750px;
    }
  }
  
  @media (max-width:767px) {
    .container {
      max-width: none;
    }
  }

.topbar {
    margin: 0 auto;
    background: linear-gradient(0deg,#ff0000f2,#640000f2);
    color: rgb(0, 0, 0, 0);
    font-size: 120px;
    display: block;
}

.logoSS {
    background-image: url(../images/mainLogoSS.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.black_line {
    background-color: rgb(0, 0, 0);
    font-size: 2.5px;
    color: rgba(255, 255, 255, 0);
}

.btns {
    background: linear-gradient(180deg,#6b6b6bf2,#fffffff2);
    background-position: center;
    display: block;
    text-align: center;
    overflow: auto;
}

.btn_shop {
    color: gold;
    font-size: 30px;
    background-color: black;
    margin-right: 90px;
    font-family:'bukyvede';
}

.btn_news {
    color: gold;
    font-size: 30px;
    background-color: black;
    font-family:'bukyvede';
}

.catalog {
    background: linear-gradient(0deg,#ff0000f2,#ff4848f2);
    background-position: center;
    display: block;
    text-align: center;
    width: 1850px;
    height: 2600px;
    border-radius: 40px;
    margin: 100px auto;
    margin-top: 50px;
    color: white;
    text-align: center;
    font-family:'bukyvede';
}

.endinfo {
    background: linear-gradient(0deg,#636363f2,#fffffff2);
    background-position: center;
    display: block;
    text-align: center;
    width: 2250px;
    height: 150px;
    border-radius: 40px;
    margin: 100px auto;
    margin-top: 50px;
    color: white;
}

.endtext {
    position: relative;
    color: #000;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.catalog_news {
    background: linear-gradient(0deg,#ff0000f2,#ff4848f2);
    background-position: center;
    display: none;
    text-align: center;
    width: 1850px;
    height: 600px;
    border-radius: 40px;
    margin: 100px auto;
    margin-top: 50px;
    color: gold;
    text-align: left;
    font-size: 69px;
    font-family:'bukyvede';
}

.text_news {
    position: relative;
    top: 40px;
    left: 80px;
}

.btnmes {
    text-align: center;
}

.btnmes_text {
    font-size: 40px;
    color: gold;
    font-family:'bukyvede';
    background-color: #000;
}